<nav class="navbar navbar-light bg-danger">
  <div class="nav-content text-center">
    <i class="fab fa-angular text-light fs-4"></i>
    <span class="text-light">Consumo de API - PAISES</span>  
    
  </div>
</nav>

<div class="container mt-4">
  <form [formGroup]="formulario" action="" (ngSubmit)="filtrar()">
    <div class="row">
      <div class="col-6">
        <label for="">Filtrar por</label>
        <select class="form-select" formControlName="filtro">
          <option value="todos" selected>Todos</option>
          <option value="lenguage">Lenguaje</option>
          <option value="region">Continente</option>
          <option value="moneda">Moneda</option>
        </select>
      </div>
      <div class="col-6">
        <label for="">Valor</label>
        <input type="text" class="form-control" formControlName="valor" />
      </div>
    </div>
    <input class="btn btn-primary mt-2" type="submit" value="Filtrar" />
  </form>
</div>

<div class="m-2">
  <table class="table table-responsive table-striped table-hover">
    <thead>
      <th>Nombre</th>
      <th>Capital</th>
      <th>Continente</th>
      <th>Lenguaje</th>
      <th>Mapa</th>
      <th>Moneda</th>
      <th>Bandera</th>
    </thead>
    <tbody>

      <ng-container *ngIf="Yesdata">
        <tr  *ngFor="let pais of paises">
          <td>{{ pais.name.common }}</td>
          <td>{{ pais.capital }}</td>
          <td>{{ pais.region }}</td>      
          <td>{{ pais.languages | json }}</td>
          <td><a [href]="pais.maps.googleMaps" target="_blank">Mapa</a></td>
          <td>{{ pais.currencies | mapString}}</td>
          <td><img width="200px" [src]="pais.flags.png" /></td>
        </tr>
    </ng-container>

      
    </tbody>
  </table>
  <div *ngIf="!Yesdata" class="NoData">No hay datos para mostrar</div>

</div>
