<div class="container mt-4">
  <form [formGroup]="formulario" action="" (ngSubmit)="filtrar()">
    <div class="row">
      <div class="col-6">
        <label for="">Filtrar por</label>
        <select class="form-select" formControlName="filtro">
          <option value="todos" selected>Todos</option>
          <option value="lenguage">Lenguaje</option>
          <option value="region">Región</option>
          <option value="moneda">Moneda</option>
        </select>
      </div>
      <div class="col-6">
        <label for="">Valor</label>
        <input type="text" class="form-control" formControlName="valor" />
      </div>
    </div>
    <input class="btn btn-primary mt-2" type="submit" value="Filtrar" />
  </form>
</div>

<div class="m-5">
  <table class="table">
    <thead>
      <th>Nombre</th>
      <th>Continente</th>
      <th>Lenguaje</th>
      <th>Bandera</th>
    </thead>
    <tbody>
      <tr *ngFor="let pais of paises">
        <td>{{ pais.name }}</td>
        <td>{{ pais.capital }}</td>
        <td>{{ pais.languages | json }}</td>
        <td><img width="200px" [src]="pais.flag" /></td>
      </tr>
    </tbody>
  </table>
</div>
